html {
    background-image: linear-gradient(white, #6495ED);
}

html body .container{
    height: 100%;
}

body {
    background-size: cover;
    font-family: sans-serif, Arial;
}

h1 {
    font-family: sans-serif, Arial;
}

h3 {
    font-family: sans-serif, Arial;
}

a {
    color:#6495ED;
    font-weight: bold;
}

.border-seperatorBottom {
    border-bottom: 2px solid white;
}

.border-seperatorTop {
    border-top: 2 px solid white;
}

#initialsInput {
    border: 2 px solid black;
}

