html body .container{
    height: 100;
}

body {
    font-family: sans-serif, Arial;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(white 30%, #1E90FF 70%);
}

h1 {
    font-family: sans-serif, Arial;
}

h3 {
    font-family: sans-serif, Arial;
}

a {
    color:#1E90FF;
    font-weight: bold;
}

.border-seperatorBottom {
    border-bottom: 2px solid white;
}

.border-seperatorTop {
    border-top: 2 px solid white;
}

#initialsInput {
    border: 2 px solid black;
}

