html body .container{
    height: 100;
}

body {
    font-family: sans-serif, Arial;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(white, #4c8bf5);
}

h1 {
    font-family: sans-serif, Arial;
}

h3 {
    font-family: sans-serif, Arial;
}

a {
    color:#4c8bf5;
    font-weight: bold;
}

.border-seperatorBottom {
    border-bottom: 3px solid white;
}

.border-seperatorTop {
    border-top: 3px solid white;
}

#initialsInput {
    border: 2px solid black;
}

